<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<audio id="audio" src="../static/music/son.mp3"></audio>
<div id="wrapper" >
    <th:block th:include="fragments/sidebar :: sidebar"></th:block>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="right" style="display:none">
                <a href="#menu-toggle" id="menu-toggle-right" style="text-decoration: none"> >> </a>
            </div>
            <div id="left" style="display:block">
                <a href="#menu-toggle" id="menu-toggle-left" style="text-decoration: none"> << </a>
            </div>

            <div class="container" id="contenu_tables" style="display: none">
                <table class="table" id="tab">
                    <tr>
                        <td>Numero</td>
                        <td>QR</td>
                        <td>Suprrime Table</td>
                    </tr>
                </table>
            </div>
            <div class="container" id="contenu_menus" style="display: none">
                <table class="table" id="menu">
                    <tr>
                        <td>Nomme</td>
                        <td>Image</td>
                        <td>Prix</td>
                        <td>Activite</td>
                    </tr>
                </table>
            </div>
            <div class="container" id="contenu_commandes" style="display: none">
                <table class="table" id="commandes">
                    <tr>
                        <td>No_Table</td>
                        <td>Date</td>
                        <td>Client</td>
                        <td>Menu</td>
                        <td>Montant</td>
                        <td>Paiement</td>
                        <td>Valider</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

</body>

<script src="../../static/isidis.js" th:src="@{/isidis.js}" ></script>
</html>
