<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resto</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div id="wrapper" >
    <th:block th:include="fragments/sidebar :: sidebar"></th:block>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="contenu"></div>
            <div id="right" style="display:block">
                <a href="#menu-toggle" id="menu-toggle-right" style="text-decoration: none"> >> </a>
            </div>
            <div id="left" style="display:none">
                <a href="#menu-toggle" id="menu-toggle-left" style="text-decoration: none"> << </a>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

<th:block th:include="fragments/sidebar :: script"></th:block>
</body>
</html>